*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 85.56%;
}

.navbar-collapse ul{
    display: flex;
    gap: 2rem;
    margin: 0 4rem;
}

body{
    overflow-x: hidden;
}
/* hero section */

.hero-section{
    background-image: url(images/bg.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
}

.main{
    width: 40rem;
    height: 30rem;
    /* background-color: red; */
    text-align: center;
    backdrop-filter: blur(10px);
    border-radius: 3rem;
    box-shadow: inset 4px 4px 10px black, 4px 4px 10px black;
    color: #fff;
}

.main h3{
    margin: 4rem 0;
    font-size: 3rem;
    
}

.main p{
    font-size: 2rem;
}  

/* footer */

.footer-section{
    background-color: #000;
    bottom:0;
}

.footer-section p a{
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    display: block;
    text-align: center;

}

/* social media */
.container .f-social-icons{
    font-size: 1.5rem;
    text-align: center;
    /* margin: 1rem; */
}

.f-social-icons a ion-icon{
    /* margin: 1rem; */
    border: 2px solid #fff;
    justify-content: center;
    padding:0.5rem;
    color: #fff;
    /* background-color: red; */
    border-radius: 18% 82% 25% 75% / 79% 17% 83% 21%;
    display: inline-block;
    animation: watereffect 3s linear infinite;
}

.f-social-icons a ion-icon:hover, .f-social-icons a ion-icon:active{
    color: rgb(28, 28, 28);
}


@keyframes watereffect {
    0% {
        border-radius: 18% 82% 25% 75% / 79% 17% 83% 21%;
    }

    50% {
        border-radius: 56% 44% 65% 35% / 48% 51% 49% 52%;
    }

    100% {
        border-radius: 18% 82% 25% 75% / 79% 17% 83% 21%;
    }
}
